.left
{
    left: 0;
}

.top
{
    top: 0;
}

.right
{
    right: 0;
}

.bottom
{
    bottom: 0;
}

.horizontal-center
{
    margin: 0 auto;
}

.vertical--center
{
    margin: auto 0;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.justify-space-between
{
    justify-content: space-between;
}

.align-items--center
{
    align-items: center;
}

.overflow--hiden
{
    overflow: hidden;
}