@import "colors";

.text
{
    &--red-primary
    {
        color: $primary-red;
    }

    &--white
    {
        color: $white;
    }

    &--black
    {
        color: $black;
    }

    &--no-decoration
    {
        text-decoration: none;
    }

    &--ar-hel-ss
    {
        font-family: Arial, Helvetica, sans-serif;
    }

    &--bold
    {
        font-weight: bold;
    }
}